# Node.js
node_modules/

# Build artifacts
build/
dist/

# Firebase
firebase.json
.firebase/
.firebaserc

# Environment variables
.env*

# Visual Studio Code
.vscode/

# JetBrains IDE
.idea/

# macOS
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
